<?xml version="1.0"?>
<config>
    <modules>
        <Eftsecure_Payment>
            <version>1.0.0.0</version>
        </Eftsecure_Payment>
    </modules>
    <global>
        <helpers>
            <eftsecure_payment>
                <class>Eftsecure_Payment_Helper</class>
            </eftsecure_payment>
        </helpers>
        <blocks>
            <eftsecure_payment>
                <class>Eftsecure_Payment_Block</class>
            </eftsecure_payment>
        </blocks>
        <models>
            <eftsecure_payment>
                <class>Eftsecure_Payment_Model</class>
            </eftsecure_payment>
        </models>
    </global>
    <frontend>
        <routers>
            <eftsecure_payment>
                <use>standard</use>
                <args>
                    <module>Eftsecure_Payment</module>
                    <frontName>eftsecurepayment</frontName>
                </args>
            </eftsecure_payment>
        </routers>
    </frontend>
    <default>
        <payment>
            <eftsecure_payment>
                <model>eftsecure_payment/eft</model>
                <active>0</active>
                <title>EFTsecure</title>
                <sort_order>1</sort_order>
                <order_status>pending</order_status>
                <instructions>You will be redirected to the i-Pay website when you place an order.</instructions>
                <allowspecific>0</allowspecific>
                <payment_action>sale</payment_action>
            </eftsecure_payment>
        </payment>
    </default>
</config>
